body{
    font-family: "Courier New", Courier, "Lucida Console", Monaco, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
}

.p{
    margin-top: 50px;
    font-size: 25px;
}

.btn1{
    font-size: 20px;
    margin-top: 35px;
    padding: 20px;
    border-radius: 15px;
    border: 2px;
    background-color: brown;
    font-family: "Courier New", Courier, "Lucida Console", Monaco, monospace;
}